.card-header {
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    padding: 0.35rem 0.75rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.card-header h3 {
    margin-top: 0.3rem;
}

.card-footer {
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
}

.card:hover {
    transform: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#inventoryTable {
    width: 100%;
    table-layout: fixed; /* Mantiene las columnas con tamaños fijos */
}